@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Space Mono'), local('SpaceMono-Regular'), url(s/spacemono/v5/i7dPIFZifjKcF5UAWdDRYEF8QA.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Space Mono Bold'), local('SpaceMono-Bold'), url(s/spacemono/v5/i7dMIFZifjKcF5UAWdDRaPpZUFWaGw.ttf) format('truetype');
}
